@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Prompt:wght@400;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Prompt, sans-serif;
  font-weight: 400;
  height: 100vh;
  background: linear-gradient(to bottom, #150017, #000000);
}

.paddings {
  @apply lg:px-20 py-6 px-5;
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexStart {
  @apply flex items-center justify-start;
}

.search_input {
  @apply text-white;
}

/* Fonts */
.font_1 {
  font-family: Prompt, sans-serif;
}

.font_2 {
  font-family: Outfit, sans-serif;
}

/* buttons */
.yellow_btn {
  @apply rounded-full border border-primary_yellow bg-primary_yellow py-1.5 px-5 text-black transition-all hover:bg-white hover:text-black hover:border-white text-center text-[25px] flex items-center justify-center;
}

/* Footer */
.footer {
  @apply flex-col paddings w-full gap-20;
}